server:
  port: 8080
  shutdown: graceful

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      probes:
        enabled: true
      show-details: always
  info:
    env:
      enabled: true

spring:
  lifecycle:
    timeout-per-shutdown-phase: 20s

logging:
  level:
    com.fraguinha.ptisp.webhook: INFO
    org.springframework.web: INFO
