name: Docker

on:
  push:
    branches:
      - "main"
    paths:
      - "**"
      - ".github/workflows/docker.yml"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: "25"
          distribution: "temurin"
          cache: "maven"

      - name: Run Unit Tests
        run: mvn test

  build:
    needs: test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform: [amd64, arm64]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: "25"
          distribution: "temurin"
          cache: "maven"

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        run: |
          mvn spring-boot:build-image \
            -Dspring-boot.build-image.publish=true \
            -Dspring-boot.build-image.imageName=fraguinha/ptisp-webhook-provider:latest-${{ matrix.platform }} \
            -Dspring-boot.build-image.imagePlatform=linux/${{ matrix.platform }} \
            -DskipTests

  publish:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Create and push Docker manifest
        run: |
          docker buildx imagetools create -t fraguinha/ptisp-webhook-provider:latest \
            fraguinha/ptisp-webhook-provider:latest-amd64 \
            fraguinha/ptisp-webhook-provider:latest-arm64
